<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/adminpanel.css">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <title>Admin Panel</title>
</head>

<body>
    <div class="side-menu">
        <div class="brand-name">
            <h3>OWNER DIRECTORY </h3>
        </div>
        <ul>
            <li>&nbsp;<span>Driver details</span> </li>
            <li>&nbsp;<span>Owner details</span> </li>
            <li>&nbsp;<span>Support</span> </li>
            <li>&nbsp;<span>Location</span> </li>
            <li>&nbsp; <span>Help</span></li>
            <li>&nbsp;<span>Settings</span> </li>
        </ul>
    </div>
    <div class="container">
        <div class="header">
            <div class="nav">
                <div class="search">
                    <input type="text" placeholder="Search..">
                    <button type="submit">
                        <box-icon name='search'></box-icon>
                    </button>
                    <button type="submit"></button>
                </div>
                <div class="user">
                    <a href="#" class="btn">Add New</a>
                    <a href="#" class="btn">Notify</a>
                </div>  
            </div>
        </div>
        <div class="content">
            <div class="cards">
                <div class="card">
                    <div class="box">
                        <h3>Total Trucks</h3>
                        <h1>100</h1>
                    </div>
                 
                </div>
                <div class="card">
                    <div class="box">
                        <h3>Total Drivers</h3>
                        <h1>20</h1>
                    </div>
                   
                </div>
                <div class="card">
                    <div class="box">
                        <h3>Active Drivers</h3>
                        <h1>13</h1>
                    </div>
                   
                </div>
            </div>
            <div class="content-2">
                <div class="recent-payments">
                    <div class="title">
                        <h2>INFORMATION</h2>
                        <a href="#" class="btn">View All</a>
                    </div>
                    <table>
                          
    <h2>Truck Drivers Information</h2>
    <table>
        <tr>
            <th>Truck Driver Name</th>
            <th>Truck Owner Name</th>
            <th>Truck Number</th>
            <th>Truck Location</th>
            <th>Truck Driver Phone Number</th>
            <th>Driver Blood Group</th>
            <th>Driver Ailments</th>
            <th>Driver Nominee</th>
            <th>Aadhar Card Number</th>
        </tr>
        <tr>
            <td>Mohit Sharma</td>
            <td>Raj Trucking Pvt. Ltd.</td>
            <td>DLT7869</td>
            <td>Delhi</td>
            <td>(987) 654-3210</td>
            <td>A+</td>
            <td>None</td>
            <td>Priya Sharma</td>
            <td>1234-5678-9012</td>
        </tr>
        <tr>
            <td>Anjali Verma</td>
            <td>Gupta Logistics</td>
            <td>MH2345</td>
            <td>Mumbai</td>
            <td>(876) 543-2109</td>
            <td>B-</td>
            <td>Diabetes</td>
            <td>Raj Verma</td>
            <td>5678-9012-3456</td>
        </tr>
        <tr>
            <td>Rajesh Patel</td>
            <td>Preeti Transport Inc.</td>
            <td>GJ4567</td>
            <td>Ahmedabad</td>
            <td>(765) 432-1098</td>
            <td>O+</td>
            <td>High Blood Pressure</td>
            <td>Sneha Patel</td>
            <td>9012-3456-7890</td>
        </tr>
        <tr>
            <td>Neeta Singh</td>
            <td>Singh Logistics</td>
            <td>UP5678</td>
            <td>Lucknow</td>
            <td>(654) 321-0987</td>
            <td>AB-</td>
            <td>None</td>
            <td>Rajat Singh</td>
            <td>2345-6789-0123</td>
        </tr>
                    </table>
                </div>
                <div class="new-students">
                    <div class="title">
                        <h2>New Drivers</h2>
                        <a href="#" class="btn">View All</a>
                    </div>
                    <table>
                        <tr>
                          
                            <th>Name</th>
                            
                        </tr>
                        <tr>
                           
                            <td> Akash</td>
                            
                        </tr>
                        <tr>
                           
                            <td> Anil Kumar</td>
                           
                        </tr>
                        <tr>
                           
                            <td>Meena </td>
                     
                        </tr>
                        <tr>
                           
                            <td>Chandra</td>
                          
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>